<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<connectionStrings>
    <!--DESARROLLO-->
  <add name="Conexion" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.3.245)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />
    <!--PRODUCCION
  <add name="Conexion" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.107)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="PathSave" value="D:\PruebaKuntur" />
  </appSettings>

</configuration>