<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="operaciones_sctr@protectasecurity.pe">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" password="0perac10nesSCTR$$_" userName="operaciones_sctr@protectasecurity.pe" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--DESARROLLO-->
    <!--<add name="Conexion" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.3.245)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->
    <!--<add name="Conexion" connectionString="User Id=INSUDB;Password=devtime55; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST =  172.23.2.145)(PORT = 1528)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->
    <!--PRODUCCION-->
    <!--<add name="Conexion" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.3.245)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->
    <!--<add name="Conexion" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.107)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->
    <!-- QA-->    
    <!--<add name="Conexion" connectionString="User Id=INSUDB;Password=vtcalidad30; Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.23.2.144)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=TIME)));" />-->
<!--DESARROLLO LAFT-->
    <add name="Conexion" connectionString="User id=laft;Password=laftdev;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.23.2.145)(PORT=1528))(CONNECT_DATA=(SERVICE_NAME=VISUALTIME7))); Min Pool Size=50" />
    


  </connectionStrings>
  <appSettings>
    <!--INI JF-->
    <!--Ruta donde se creará la carpeta con el reporte-->
    <add key="PathSave" value="C:\ReportesGenerados" />
    <!--Ruta de donde se obtendrá el template para el correo-->
    <add key="templates" value="C:\TemplatesTC\" />
    <add key="subject" value="Generación de Reporte - Plataforma KUNTUR" />
    <add key="bodyTemplate" value="bodyTemplate.html" />
    <add key="aplicationName" value="KUNTUR" />
    <!--FIN JF-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>